body {
    margin: 0px;
    background-image: url('./images/b.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: scroll;
}
.navlinks li, a {
    font-weight: 500;
    font-size:1vw;
    color: white;
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0.1vw 0.5vw;
}
#logo {
    width:20vw;
}
#front {
    width: 100%;
    height: 25vw;
    
}
#softdev {
    width: 50%;
    height: 25vw;
    float: right;
    object-fit: cover;
}
#head1 {
    background-color: white;
    padding: 5vw 0;
    width: 45%;
    height: 10vw;
    margin-left: 3%;
    text-align: center;
    margin-top: 3%;
    border: 2px solid black;
    box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.stile{
    width:20%;
    text-align: center;
    display: inline-block;
    font-family: "Bernard MT";
    font-size:1.1vw;
    
}
.stile img {
    width: 100%;
    border-radius: 50%;
}
.skill {
    width: 100%;
}
#skill1, #skill2 {
    padding: 3%;
}
#vtile2 {
    margin-left: 10vw;
}
#pskill{
    margin-left: 2vw;
    margin-top: 5vw;
    width:40%;
    text-align: center;
}
#tile {
    width: 8vw;
    float: right;
    margin-right: 40vw;
    margin-top: -28vw;
    white-space: nowrap;
}
.box {
    display: inline-block;
    padding: 2vw;
}
.box1{
    margin-left: 15vw;
}
figcaption {
    text-align: center;
    font-family: 'Lucida Calligraphy';
    font-size: 1.1vw;
    background-color: black;
    color: white;
    opacity: 0.75;
}
.box1 figcaption{
    width: 20vw;
    font-family: 'Lucida Calligraphy';
    font-size: 1.1vw;;
}
form {
    margin-left: 40vw;
    color: white;
}
.form {
    margin-top: 5vw;
    background-color: black;
    font-size: 1vw;
    height: 28vw;
    white-space: nowrap;
}
label {
    padding: 1vw;
}
#button{
    width: 5vw;
    height: 2vw;
    margin-left: 8vw;
    background-color: yellow;
    border-radius: 0.3vw;
    border: none;
    font-size: 1.2vw;
    font-weight: bold;
}
footer {
    padding: 10px;
    background-color: #e8e6e6;
    font-size: 1.1VW;
}
footer li {
    font-size: 1.1VW;
    color: red;
}
input {
    font-size: 1vw;
}
p {
    font-family: "Comic Sans MS";
    font-size: 2vw;
}
